<header>
  <div class="header-container">
    <a href="/">
      <img src="../../../assets/logo.png" alt="LOGO" id="logo-img" />
    </a>
    <div class="name">
      <div *ngIf="isActive && integration.imgUrl">
        <img [src]="integration.imgUrl" class="image" />
      </div>
      <div *ngIf="isActive && !integration.imgUrl">
        <img src="../../../assets/default.png" class="image" />
      </div>
      <h1 *ngIf="isActive">{{ integration.name }}</h1>
    </div>
    <div *ngIf="isActive">
      <a href="/"><button type="button">Wstecz</button></a>
      <button type="button" (click)="save()">Zapisz</button>
    </div>
  </div>
</header>
