<div class="container">
  <div class="info">
    <div class="info__name">
      <div class="info__edit">
        <button
          style="border: none; background: transparent"
          (click)="changeInputState()"
        >
          <i class="bx bx-pencil info__pencil" *ngIf="!nameInputState"></i>
          <i class="bx bx-check info__pencil" *ngIf="nameInputState"></i>
        </button>
        <input
          type="text"
          [value]="budget.name"
          class="info__input"
          [disabled]="!nameInputState"
          (change)="changeName($event)"
        />
      </div>

      <div class="info__buttons">
        <button
          type="button"
          class="info__buttons--button"
          *ngIf="budget.mainBudget"
          (click)="duplicateBudget()"
        >
          Duplikuj wersję
        </button>
        <button
          type="button"
          class="info__buttons--button"
          *ngIf="budget.mainBudget"
          (click)="deleteBudget()"
        >
          Usuń
        </button>
        <button
          type="button"
          class="info__buttons--button"
          *ngIf="!budget.mainBudget"
          (click)="setMain()"
        >
          Ustaw jako główną
        </button>
      </div>
    </div>
  </div>
  <div class="table">
    <ul>
      <app-details-subcategory
        *ngFor="let category of budget.categories; index as i"
        [category]="category"
      ></app-details-subcategory>
    </ul>
  </div>
</div>
