@import "../../app.component.scss";

.container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.saved {
  position: absolute;
  left: 0;
  right: 0;
  top: 1.5rem;
  margin: auto;
  width: 300px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #efeaf5;
  border: 2px solid #785baf;
  border-radius: 10px;
  font-size: 20px;
  color: #6542a5;

  p {
    margin: 0;
  }

  transition: 0.8s;
}

.saved-disable {
  top: -100%;
}

.versions {
  margin-top: 35px;
  display: flex;
  width: 100%;
  flex-grow: 1;

  &__main {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__header {
    h1 {
      color: #785baf;
      font-size: 32px;
      font-weight: 500;
      margin-left: 10%;
      margin-bottom: 5px;
    }
  }

  &__others {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    .versions__content {
      background-color: #efeaf5;
      flex-grow: 1;
    }
  }

  &__underline {
    width: 100%;
    height: 2px;
    background-color: #efeaf5;
    margin-top: 3px;
  }

  &__switches {
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;
  }

  &__switch,
  &__switch--active {
    min-width: 100px;
    height: 40px;
    border: none;
    background-color: #fff;
    cursor: pointer;
    border-left: 1px solid #efeaf5;
    padding: 0 10px;
  }

  &__switch--active {
    background-color: #efeaf5;
    cursor: auto;
  }
}

@media only screen and (max-width: 768px) {
  .versions {
    flex-direction: column;

    &__main {
      width: 100%;
    }

    &__others {
      width: 100%;
    }
  }
}

@include loading;

.loading-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
